Copyright Jana Schaich Borg/Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)

# MySQL Exercise 10: Useful Logical Operators

There are a few more logical operators we haven't covered yet that you might find useful when designing your queries.  Expressions that use logical operators return a result of "true" or "false", depending on whether the conditions you specify are met.  The "true" or "false" results are usually used to determine which, if any, subsequent parts of your query will be run.  We will discuss the IF operator, the CASE operator, and the order of operations within logical expressions in this lesson.

**Begin by loading the sql library and database, and making the Dognition database your default database:**

In [2]:
%load_ext sql
%sql mysql://studentuser:studentpw@mysqlserver/dognitiondb
%sql USE dognitiondb

0 rows affected.

[]

## 1. IF expressions

IF expressions are used to return one of two results based on whether inputs to the expressions meet the conditions you specify.  They are frequently used in SELECT statements as a compact way to rename values in a column.  The basic syntax is as follows:

```
IF([your conditions],[value outputted if conditions are met],[value outputted if conditions are NOT met])
```

So we could write:

```sql
SELECT created_at, IF(created_at<'2014-06-01','early_user','late_user') AS user_type
FROM users
```  
to output one column that provided the time stamp of when a user account was created, and a second column called user_type that used that time stamp to determine whether the user was an early or late user. User_type could then be used in a GROUP BY statement to segment summary calculations (in database systems that support the use of aliases in GROUP BY statements). 
   
For example, since we know there are duplicate user_guids in the user table, we could combine a subquery with an IF statement to retrieve a list of unique user_guids with their classification as either an early or late user (based on when their first user entry was created): 

```sql
SELECT cleaned_users.user_guid as UserID,
       IF(cleaned_users.first_account<'2014-06-01','early_user','late_user') AS user_type
FROM (SELECT user_guid, MIN(created_at) AS first_account 
      FROM users
      GROUP BY user_guid) AS cleaned_users
```
  
We could then use a GROUP BY statement to count the number of unique early or late users:

```sql 
SELECT IF(cleaned_users.first_account<'2014-06-01','early_user','late_user') AS user_type,
       COUNT(cleaned_users.first_account)
FROM (SELECT user_guid, MIN(created_at) AS first_account 
      FROM users
      GROUP BY user_guid) AS cleaned_users
GROUP BY user_type
```

**Try it yourself:**

In [3]:
%%sql
SELECT IF(cleaned_users.first_account<'2014-06-01','early_user','late_user') AS user_type,
       COUNT(cleaned_users.first_account)
FROM (SELECT user_guid, MIN(created_at) AS first_account 
      FROM users
      GROUP BY user_guid) AS cleaned_users
GROUP BY user_type

2 rows affected.

[('early_user', 14470), ('late_user', 18723)]

**Question 1: Write a query that will output distinct user_guids and their associated country of residence from the users table, excluding any user_guids or countries that have NULL values.  You should get 16,261 rows in your result.**

In [ ]:
%%sql
SELECT DISTINCT user_guid,country
FROM users
WHERE user_guid IS NOT NULL AND country IS NOT NULL;

**Question 2: Use an IF expression and the query you wrote in Question 1 as a subquery to determine the number of unique user_guids who reside in the United States (abbreviated "US") and outside of the US.**

In [7]:
%%sql
SELECT COUNT(DISTINCT user_guid),IF(country='US','residein','notin') AS reside, COUNT(*)
FROM (SELECT DISTINCT user_guid,country
      FROM users
      WHERE user_guid IS NOT NULL AND country IS NOT NULL) AS DistinctUsers
GROUP BY reside;

2 rows affected.

[(6905, 'notin', 6905), (9356, 'residein', 9356)]

Single IF expressions can only result in one of two specified outputs, but multiple IF expressions can be nested to result in more than two possible outputs.  <mark>When you nest IF expressions, it is important to encase each IF expression--as well as the entire IF expression put together--in parentheses.</mark>
    
For example, if you examine the entries contained in the non-US countries category, you will see that many users are associated with a country called "N/A." "N/A" is an abbreviation for "Not Applicable"; it is not a real country name.  We should separate these entries from the "Outside of the US" category we made earlier.  We could use a nested query to say whenever "country" does not equal "US", use the results of a second IF expression to determine whether the outputed value should be "Not Applicable" or "Outside US."  The IF expression would look like this:

```sql
IF(cleaned_users.country='US','In US', IF(cleaned_users.country='N/A','Not Applicable','Outside US'))
```

Since the second IF expression is in the position within the IF expression where you specify "value outputted if conditions are not met," its two possible outputs will only be considered if cleaned_users.country='US' is evaluated as false.

The full query to output the number of unique users in each of the three groups would be:

```sql 
SELECT IF(cleaned_users.country='US','In US', 
          IF(cleaned_users.country='N/A','Not Applicable','Outside US')) AS US_user, 
      count(cleaned_users.user_guid)   
FROM (SELECT DISTINCT user_guid, country 
      FROM users
      WHERE country IS NOT NULL) AS cleaned_users
GROUP BY US_user
```

**Try it yourself. You should get 5,642 unique user_guids in the "Not Applicable" category, and 1,263 users in the "Outside US" category.**

In [4]:
%%sql
SELECT IF(cleaned_users.country='US','In US', 
          IF(cleaned_users.country='N/A','Not Applicable','Outside US')) AS US_user, 
      count(cleaned_users.user_guid)   
FROM (SELECT DISTINCT user_guid, country 
      FROM users
      WHERE country IS NOT NULL) AS cleaned_users
GROUP BY US_user

3 rows affected.

[('In US', 9356), ('Not Applicable', 5642), ('Outside US', 1263)]

<mark>The IF function is not supported by all database platforms, and some spell the function as IIF rather than IF, so be sure to double-check how the function works in the platform you are using.</mark>

If nested IF expressions seem confusing or hard to read, don't worry, there is a better function available for situations when you want to use conditional logic to output more than two groups.  That function is called CASE.

   
## 2. CASE expressions

The main purpose of CASE expressions is to return a singular value based on one or more conditional tests.  You can think of CASE expressions as an efficient way to write a set of IF and ELSEIF statements.  There are two viable syntaxes for CASE expressions.  If you need to manipulate values in a current column of your data, you would use this syntax:

<img src="https://duke.box.com/shared/static/bvyvscvvg9d1rjnov340gqyu85mhch9i.jpg" width=600 alt="CASE_Expression" />

Using this syntax, our nested IF statement from above could be written as:

```sql
SELECT CASE WHEN cleaned_users.country="US" THEN "In US"
            WHEN cleaned_users.country="N/A" THEN "Not Applicable"
            ELSE "Outside US"
            END AS US_user, 
      count(cleaned_users.user_guid)   
FROM (SELECT DISTINCT user_guid, country 
      FROM users
      WHERE country IS NOT NULL) AS cleaned_users
GROUP BY US_user
```

**Go ahead and try it:**

In [5]:
%%sql
SELECT CASE WHEN cleaned_users.country="US" THEN "In US"
            WHEN cleaned_users.country="N/A" THEN "Not Applicable"
            ELSE "Outside US"
            END AS US_user, 
      count(cleaned_users.user_guid)   
FROM (SELECT DISTINCT user_guid, country 
      FROM users
      WHERE country IS NOT NULL) AS cleaned_users
GROUP BY US_user

3 rows affected.

[('In US', 9356), ('Not Applicable', 5642), ('Outside US', 1263)]

Since our query does not require manipulation of any of the values in the country column, though, we could also take advantage of this syntax, which is slightly more compact:

<img src="https://duke.box.com/shared/static/z9fezozm55wj5pz6slxscouxrcpq7bpz.jpg" width=600 alt="CASE_Value" />

Our query written in this syntax would look like this:

```sql
SELECT CASE cleaned_users.country
            WHEN "US" THEN "In US"
            WHEN "N/A" THEN "Not Applicable"
            ELSE "Outside US"
            END AS US_user, 
      count(cleaned_users.user_guid)   
FROM (SELECT DISTINCT user_guid, country 
      FROM users
      WHERE country IS NOT NULL) AS cleaned_users
GROUP BY US_user
```

**Try this query as well:**

In [6]:
%%sql
SELECT CASE cleaned_users.country
            WHEN "US" THEN "In US"
            WHEN "N/A" THEN "Not Applicable"
            ELSE "Outside US"
            END AS US_user, 
      count(cleaned_users.user_guid)   
FROM (SELECT DISTINCT user_guid, country 
      FROM users
      WHERE country IS NOT NULL) AS cleaned_users
GROUP BY US_user

3 rows affected.

[('In US', 9356), ('Not Applicable', 5642), ('Outside US', 1263)]

There are a couple of things to know about CASE expressions:
   
+ Make sure to include the word END at the end of the expression
+ CASE expressions do not require parentheses
+ ELSE expressions are optional
+ If an ELSE expression is omitted, NULL values will be outputted for all rows that do not meet any of the conditions stated explicitly in the expression
+ CASE expressions can be used anywhere in a SQL statement, including in GROUP BY, HAVING, and ORDER BY clauses or the SELECT column list.

You will find that CASE statements are useful in many contexts. For example, they can be used to rename or revise values in a column.

**Question 3: Write a query using a CASE statement that outputs 3 columns: dog_guid, dog_fixed, and a third column that reads "neutered" every time there is a 1 in the "dog_fixed" column of dogs, "not neutered" every time there is a value of 0 in the "dog_fixed" column of dogs, and "NULL" every time there is a value of anything else in the "dog_fixed" column.  Limit your results for troubleshooting purposes.**

In [7]:
%%sql
SELECT dog_guid,dog_fixed,CASE WHEN dog_fixed=1 THEN 'neutered'
                               WHEN dog_fixed=0 THEN 'not neutered'
                               ELSE 'NULL'
                               END AS ifneutered
FROM dogs
LIMIT 10

10 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 0, 'not neutered'),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', 0, 'not neutered'),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 0, 'not neutered'),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered')]

In [8]:
%%sql
SELECT dog_guid,dog_fixed,CASE dog_fixed
                            WHEN 1 THEN 'neutered'
                            WHEN 0 THEN 'not neutered'
                            ELSE 'NULL'
                          END AS ifneutered
FROM dogs
LIMIT 10

10 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 0, 'not neutered'),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', 0, 'not neutered'),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 0, 'not neutered'),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered')]

You can also use CASE statements to standardize or combine several values into one.  

**Question 4: We learned that NULL values should be treated the same as "0" values in the exclude columns of the dogs and users tables.  Write a query using a CASE statement that outputs 3 columns: dog_guid, exclude, and a third column that reads "exclude" every time there is a 1 in the "exclude" column of dogs and "keep" every time there is any other value in the exclude column. Limit your results for troubleshooting purposes.**

In [10]:
%%sql
SELECT dog_guid,exclude,CASE exclude 
                         WHEN 1 THEN 'exclude'
                         ELSE 'keep'
                        END AS exclude_cleaned
FROM dogs
LIMIT 10

10 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 1, 'exclude'),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 1, 'exclude'),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', None, 'keep')]

**Question 5: Re-write your query from Question 4 using an IF statement instead of a CASE statement.**

In [11]:
%%sql
SELECT dog_guid,exclude,IF(exclude=1,'exclude','keep') AS exclude_cleaned 
FROM dogs
LIMIT 10

10 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 1, 'exclude'),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 1, 'exclude'),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', None, 'keep')]

Case expressions are also useful for breaking values in a column up into multiple groups that meet specific criteria or that have specific ranges of values.

**Question 6: Write a query that uses a CASE expression to output 3 columns: dog_guid, weight, and a third column that reads...     
"very small" when a dog's weight is 1-10 pounds     
"small" when a dog's weight is greater than 10 pounds to 30 pounds     
"medium" when a dog's weight is greater than 30 pounds to 50 pounds     
"large" when a dog's weight is greater than 50 pounds to 85 pounds     
"very large" when a dog's weight is greater than 85 pounds      
Limit your results for troubleshooting purposes.**

**Remember that when you use AND to define values between two boundaries, you need to include the variable name in all clauses that define the conditions of the values you want to extract.  In other words, you could use this combined clause in your query: 
“WHEN weight>10 AND weight<=30 THEN "small"
…but this combined clause would cause an error:
“WHEN weight>10 AND <=30 THEN "small"**

In [13]:
%%sql
SELECT dog_guid,weight,CASE WHEN weight<=10 AND weight>=1 THEN 'very small'
                            WHEN weight>10 AND weight<=30 THEN 'small'
                            WHEN weight>30 AND weight<=50 THEN 'medium'
                            WHEN weight>50 AND weight<=85 THEN 'large'
                            ELSE 'very large'
                       END AS size
FROM dogs
WHERE weight>0
LIMIT 10

10 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', 50, 'medium'),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 20, 'small'),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 70, 'large'),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', 70, 'large'),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 190, 'very large'),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', 60, 'large'),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 190, 'very large'),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', 50, 'medium'),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', 70, 'large'),
 ('fd27c74e-7144-11e5-ba71-058fbc01cf0b', 40, 'medium')]

## 3. Pay attention to the order of operations within logical expressions

As you started to see with the query you wrote in Question 6, CASE expressions often end up needing multiple AND and OR operators to accurately describe the logical conditions you want to impose on the groups in your queries.  You must pay attention to the order in which these operators are included in your logical expressions, because unless parentheses are included, the NOT operator is always evaluated before an AND operator, and an AND operator is always evaluated before the OR operator.  

<img src="https://duke.box.com/shared/static/uhrmp6vkxznn9zjgezfmxhnbfjaa8c90.jpg" width=200 alt="CASE_Value" />

When parentheses are included, the expressions within the parenthese are evaluated first.  That means this expression:

```sql
CASE WHEN "condition 1" OR "condition 2" AND "condition 3"...
```
will lead to different results than this expression:
   
```sql
CASE WHEN "condition 3" AND "condition 1" OR "condition 2"...
```
   
or this expression:
```sql
CASE WHEN ("condition 1" OR "condition 2") AND "condition 3"...
```
   
In the first case you will get rows that meet condition 2 and 3, or condition 1.  In the second case you will get rows that meet condition 1 and 3, or condition 2.  In the third case, you will get rows that meet condition 1 or 2, and condition 3.

Let's see a concrete example of how the order in which logical operators are evaluated affects query results.  

**Question 7: How many distinct dog_guids are found in group 1 using this query?**
    
```sql
SELECT COUNT(DISTINCT dog_guid), 
CASE WHEN breed_group='Sporting' OR breed_group='Herding' AND exclude!='1' THEN "group 1"
     ELSE "everything else"
     END AS groups
FROM dogs
GROUP BY groups
```

In [14]:
%%sql
SELECT COUNT(DISTINCT dog_guid), 
CASE WHEN breed_group='Sporting' OR breed_group='Herding' AND exclude!='1' THEN "group 1"
     ELSE "everything else"
     END AS groups
FROM dogs
GROUP BY groups

2 rows affected.

[(30179, 'everything else'), (4871, 'group 1')]

**Question 8: How many distinct dog_guids are found in group 1 using this query?**
    
```sql
SELECT COUNT(DISTINCT dog_guid), 
CASE WHEN exclude!='1' AND breed_group='Sporting' OR breed_group='Herding' THEN "group 1"
     ELSE "everything else"
     END AS group_name
FROM dogs
GROUP BY group_name
```

In [15]:
%%sql
SELECT COUNT(DISTINCT dog_guid), 
CASE WHEN exclude!='1' AND breed_group='Sporting' OR breed_group='Herding' THEN "group 1"
     ELSE "everything else"
     END AS group_name
FROM dogs
GROUP BY group_name

2 rows affected.

[(31589, 'everything else'), (3461, 'group 1')]

**Question 9: How many distinct dog_guids are found in group 1 using this query?**

```sql
SELECT COUNT(DISTINCT dog_guid), 
CASE WHEN exclude!='1' AND (breed_group='Sporting' OR breed_group='Herding') THEN "group 1"
     ELSE "everything else"
     END AS group_name
FROM dogs
GROUP BY group_name
```

In [16]:
%%sql
SELECT COUNT(DISTINCT dog_guid), 
CASE WHEN exclude!='1' AND (breed_group='Sporting' OR breed_group='Herding') THEN "group 1"
     ELSE "everything else"
     END AS group_name
FROM dogs
GROUP BY group_name

2 rows affected.

[(35004, 'everything else'), (46, 'group 1')]

<mark> **So make sure you always pay attention to the order in which your logical operators are listed in your expressions, and whenever possible, include parentheses to ensure that the expressions are evaluated in the way you intend!**</mark>

## Let's practice some more IF and CASE statements

<img src="https://duke.box.com/shared/static/p2eucjdttai08eeo7davbpfgqi3zrew0.jpg" width=600 alt="SELECT FROM WHERE" />

**Question 10: For each dog_guid, output its dog_guid, breed_type, number of completed tests, and use an IF statement to include an extra column that reads "Pure_Breed" whenever breed_type equals 'Pure Breed" and "Not_Pure_Breed" whenever breed_type equals anything else. LIMIT your output to 50 rows for troubleshooting.  HINT: you will need to use a join to complete this query.**

In [21]:
%%sql
SELECT d.dog_guid,d.breed_type,COUNT(c.test_name),IF(d.breed_type='Pure Breed',"Pure_Breed","Not_Pure_Breed")
FROM dogs d,complete_tests c
WHERE d.dog_guid=c.dog_guid
GROUP BY c.dog_guid
LIMIT 50

50 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 21, 'Pure_Breed'),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 2, 'Pure_Breed'),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 11, 'Pure_Breed'),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 31, 'Pure_Breed'),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 27, 'Pure_Breed'),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 20, 'Not_Pure_Breed'),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 20, 'Not_Pure_Breed'),
 ('fd27c74e-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 14, 'Not_Pure_Breed'),
 ('fd27c7d0-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27c852-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27c8d4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27c956-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 11, 'Not_Pure_Breed'),
 ('fd27cb72-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27ce1a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 7, 'Pure_Breed'),
 ('fd27cea6-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 2, 'Not_Pure_Breed'),
 ('fd27cf28-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27cfaa-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 7, 'Pure_Breed'),
 ('fd27d02c-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27d0b8-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 21, 'Not_Pure_Breed'),
 ('fd27d144-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 7, 'Pure_Breed'),
 ('fd27d1c6-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 7, 'Pure_Breed'),
 ('fd27d248-7144-11e5-ba71-058fbc01cf0b', 'Popular Hybrid', 6, 'Not_Pure_Breed'),
 ('fd27d2ca-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 4, 'Pure_Breed'),
 ('fd27d34c-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 4, 'Pure_Breed'),
 ('fd27d3d8-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 4, 'Pure_Breed'),
 ('fd27d45a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 28, 'Pure_Breed'),
 ('fd27d4dc-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 28, 'Not_Pure_Breed'),
 ('fd27d770-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 25, 'Pure_Breed'),
 ('fd27d9fa-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 20, 'Not_Pure_Breed'),
 ('fd27db08-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 14, 'Pure_Breed'),
 ('fd27db8a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 16, 'Pure_Breed'),
 ('fd27dc52-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 2, 'Pure_Breed'),
 ('fd27dd38-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 4, 'Not_Pure_Breed'),
 ('fd27e026-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 6, 'Pure_Breed'),
 ('fd27e0d0-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 6, 'Not_Pure_Breed'),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 20, 'Not_Pure_Breed'),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 23, 'Pure_Breed'),
 ('fd27e454-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 45, 'Not_Pure_Breed'),
 ('fd27e580-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 33, 'Pure_Breed'),
 ('fd27e9a4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 22, 'Pure_Breed'),
 ('fd27eae4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 4, 'Pure_Breed'),
 ('fd27ed46-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 25, 'Pure_Breed'),
 ('fd27efb2-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27f110-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 7, 'Pure_Breed'),
 ('fd27f25a-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 6, 'Not_Pure_Breed'),
 ('fd27f4c6-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 4, 'Pure_Breed')]

**Question 11: Write a query that uses a CASE statement to report the number of unique user_guids associated with customers who live in the United States and who are in the following groups of states:**

**Group 1: New York (abbreviated "NY") or New Jersey (abbreviated "NJ")    
Group 2: North Carolina (abbreviated "NC") or South Carolina (abbreviated "SC")    
Group 3: California (abbreviated "CA")    
Group 4: All other states with non-null values**

**You should find 898 unique user_guids in Group1.**

In [25]:
%%sql
SELECT COUNT(DISTINCT user_guid),CASE
                                    WHEN state='NY' OR state='NJ' THEN 1
                                    WHEN state='NC' OR state='SC' THEN 2
                                    WHEN state='CA' THEN 3
                                    ELSE 4
                                 END AS state_group
FROM users
WHERE country='US' AND state IS NOT NULL
GROUP BY state_group;

4 rows affected.

[(898, 1), (653, 2), (1417, 3), (6388, 4)]

**Question 12: Write a query that allows you to determine how many unique dog_guids are associated with dogs who are DNA tested and have either stargazer or socialite personality dimensions.  Your answer should be 70.**

In [34]:
%%sql
SELECT COUNT(DISTINCT dog_guid)
FROM dogs 
WHERE dna_tested=1 AND (dimension='stargazer' OR dimension='socialite')

1 rows affected.

[(70,)]

**Feel free to practice any other queries you like here!**

In [33]:
%%sql
SELECT * FROM dogs LIMIT 50

50 rows affected.

[('female', '2011', 'Labrador Retriever', 50, 1, 0, datetime.datetime(2013, 2, 5, 3, 57, 19), datetime.datetime(2013, 7, 25, 19, 41, 49), 'charmer', None, 'Pure Breed', 'Sporting', 'fd27b272-7144-11e5-ba71-058fbc01cf0b', 'ce134e42-7144-11e5-ba71-058fbc01cf0b', '21', '28.20107581', '40609.549167', '0.004687499952', '6.7499999308', '564.0215162', '812190.98333'),
 ('male', '2007', 'Shetland Sheepdog', 20, 1, 0, datetime.datetime(2013, 2, 5, 15, 35, 9), datetime.datetime(2013, 7, 25, 19, 41, 49), 'protodog', None, 'Pure Breed', 'Herding', 'fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 'ce1353d8-7144-11e5-ba71-058fbc01cf0b', '20', '0.41330713937', '595.1622807', '0.0058449074865', '8.4166667806', '7.8528356481', '11308.083333'),
 ('male', '2012', 'Golden Retriever', 70, 0, 1, datetime.datetime(2013, 2, 5, 17, 22, 56), datetime.datetime(2013, 7, 25, 19, 41, 49), None, None, 'Pure Breed', 'Sporting', 'fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 'ce135ab8-7144-11e5-ba71-058fbc01cf0b', '2', '0.0091319445066', '13.15000009', '0.0091319445066', '13.15000009', '0.0091319445066', '13.15000009'),
 ('male', '2011', 'Golden Retriever', 70, 0, 0, datetime.datetime(2013, 2, 5, 17, 40, 57), datetime.datetime(2014, 5, 30, 15, 52, 53), None, None, 'Pure Breed', 'Sporting', 'fd27b79a-7144-11e5-ba71-058fbc01cf0b', 'ce13507c-7144-11e5-ba71-058fbc01cf0b', '11', '56.115179398', '80805.858333', '0.0044328703647', '6.3833333252', '561.15179398', '808058.58333'),
 ('female', '2010', 'Shih Tzu', 190, 0, 0, datetime.datetime(2013, 2, 5, 18, 12, 28), datetime.datetime(2014, 5, 30, 15, 52, 54), 'einstein', 1, 'Pure Breed', 'Toy', 'fd27b86c-7144-11e5-ba71-058fbc01cf0b', 'ce135e14-7144-11e5-ba71-058fbc01cf0b', '31', '7.7342542438', '11137.326111', '0.00039930554425', '0.57499998372', '232.02762731', '334119.78333'),
 ('male', '2011', 'Siberian Husky', 60, 1, 0, datetime.datetime(2013, 2, 5, 18, 14, 14), datetime.datetime(2013, 7, 25, 19, 41, 49), 'stargazer', None, 'Pure Breed', 'Working', 'fd27b948-7144-11e5-ba71-058fbc01cf0b', 'ce13615c-7144-11e5-ba71-058fbc01cf0b', '20', '0.1785873538', '257.16578947', '0.0035648148035', '5.1333333171', '3.3931597222', '4886.15'),
 ('male', '1982', 'Shih Tzu', 190, 1, 0, datetime.datetime(2013, 2, 5, 18, 16, 24), datetime.datetime(2014, 5, 30, 15, 52, 54), 'maverick', 1, 'Pure Breed', 'Toy', 'fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 'ce135e14-7144-11e5-ba71-058fbc01cf0b', '27', '6.1905898326', '8914.449359', '0.00033564807185', '0.48333322347', '160.95533565', '231775.68333'),
 ('male', '2012', 'Mixed', 50, 1, 0, datetime.datetime(2013, 2, 5, 18, 44, 2), datetime.datetime(2013, 7, 25, 19, 41, 49), 'protodog', None, "Mixed Breed/ Other/ I Don't Know", None, 'fd27bbbe-7144-11e5-ba71-058fbc01cf0b', 'ce135f2c-7144-11e5-ba71-058fbc01cf0b', '20', '0.0080750487303', '11.628070172', '0.0046412037941', '6.6833334635', '0.15342592588', '220.93333326'),
 ('male', '2008', 'Labrador Retriever', 70, 1, 0, datetime.datetime(2013, 2, 5, 20, 59, 42), datetime.datetime(2013, 7, 25, 19, 41, 49), 'einstein', None, 'Pure Breed', 'Sporting', 'fd27c1c2-7144-11e5-ba71-058fbc01cf0b', 'ce136a1c-7144-11e5-ba71-058fbc01cf0b', '20', '0.68410453216', '985.11052631', '0.0033796295731', '4.8666665853', '12.997986111', '18717.1'),
 ('male', '2008', 'Shih Tzu-Poodle Mix', 0, 1, 0, datetime.datetime(2013, 2, 5, 21, 30, 14), datetime.datetime(2013, 7, 25, 19, 41, 49), 'socialite', None, 'Cross Breed', None, 'fd27c5be-7144-11e5-ba71-058fbc01cf0b', 'ce136ac6-7144-11e5-ba71-058fbc01cf0b', '20', '0.22328155458', '321.5254386', '0.0038888889878', '5.6000001424', '4.2423495371', '6108.9833334'),
 ('female', '2011', 'German Shepherd Dog-Pembroke Welsh Corgi Mix', 40, 1, 0, datetime.datetime(2013, 2, 5, 22, 29, 24), datetime.datetime(2013, 7, 25, 19, 41, 49), None, None, 'Cross Breed', None, 'fd27c74e-7144-11e5-ba71-058fbc01cf0b', 'ce136c24-7144-11e5-ba71-058fbc01cf0b', '14', '25.69619391', '37002.519231', '0.0058449073678', '8.4166666097', '334.05052083', '481032.75'),
 ('male', '2011', 'Vizsla', 60, 1, 0, datetime.datetime(2013, 2, 5, 23, 9, 37), datetime.datetime(2013, 7, 25, 19, 41, 49), 'socialite', None, 'Pure Breed', 'Sporting', 'fd27c7d0-7144-11e5-ba71-058fbc01cf0b', 'ce136e36-7144-11e5-ba71-058fbc01cf0b', '20', '0.0053776803082', '7.7438596438', '0.0044791667034', '6.4500000529', '0.10217592586', '147.13333323'),
 ('female', '2007', 'Pug', 20, 1, 0, datetime.datetime(2013, 2, 5, 23, 10, 40), datetime.datetime(2013, 7, 31, 21, 57, 21), 'stargazer', None, 'Pure Breed', 'Toy', 'fd27c852-7144-11e5-ba71-058fbc01cf0b', 'ce136ee0-7144-11e5-ba71-058fbc01cf0b', '20', '0.051511939572', '74.177192984', '0.0039930555499', '5.7499999919', '0.97872685187', '1409.3666667'),
 ('female', '2010', 'Boxer', 50, 1, 0, datetime.datetime(2013, 2, 5, 23, 27, 59), datetime.datetime(2013, 7, 25, 19, 41, 49), 'ace', None, 'Pure Breed', 'Working', 'fd27c8d4-7144-11e5-ba71-058fbc01cf0b', 'ce136f94-7144-11e5-ba71-058fbc01cf0b', '20', '0.15856725147', '228.33684211', '0.0039351851456', '5.6666666097', '3.0127777779', '4338.4000001'),
 ('male', '2010', 'German Shepherd Dog-Nova Scotia Duck Tolling Retriever Mix', 30, 1, 0, datetime.datetime(2013, 2, 6, 0, 9, 33), datetime.datetime(2014, 5, 30, 15, 52, 56), None, None, 'Cross Breed', None, 'fd27c956-7144-11e5-ba71-058fbc01cf0b', 'ce134be0-7144-11e5-ba71-058fbc01cf0b', '11', '2.8247997685', '4067.7116667', '0.0037731481142', '5.4333332845', '28.247997685', '40677.116667'),
 ('male', '2005', 'Beagle', 40, 1, 0, datetime.datetime(2013, 2, 6, 0, 43, 58), datetime.datetime(2013, 7, 25, 19, 41, 49), 'protodog', None, 'Pure Breed', 'Hound', 'fd27cb72-7144-11e5-ba71-058fbc01cf0b', 'ce1371a6-7144-11e5-ba71-058fbc01cf0b', '20', '2.1136232943', '3043.6175439', '0.0053240740684', '7.6666666585', '40.158842593', '57828.733333'),
 ('male', '2005', 'Beagle', 30, 1, 1, datetime.datetime(2013, 2, 6, 1, 38, 10), datetime.datetime(2014, 5, 29, 20, 34, 17), 'expert', None, 'Pure Breed', 'Hound', 'fd27cd98-7144-11e5-ba71-058fbc01cf0b', 'ce136f94-7144-11e5-ba71-058fbc01cf0b', '20', '0.33541118421', '482.99210526', '0.0032291666102', '4.6499999186', '6.3728125', '9176.85'),
 ('male', '2000', 'Beagle', 20, 1, 1, datetime.datetime(2013, 2, 6, 1, 39, 2), datetime.datetime(2013, 7, 25, 19, 41, 49), None, None, 'Pure Breed', 'Hound', 'fd27ce1a-7144-11e5-ba71-058fbc01cf0b', 'ce136f94-7144-11e5-ba71-058fbc01cf0b', '7', '0.0028163580383', '4.0555555752', '0.0029456018222', '4.2416666239', '0.01689814823', '24.333333451'),
 ('male', '2000', 'Mixed', 10, 1, 0, datetime.datetime(2013, 2, 6, 1, 46, 37), datetime.datetime(2013, 7, 25, 19, 41, 50), None, None, "Mixed Breed/ Other/ I Don't Know", None, 'fd27cea6-7144-11e5-ba71-058fbc01cf0b', 'ce1373ae-7144-11e5-ba71-058fbc01cf0b', '2', '0.0025347222109', '3.6499999837', '0.0025347222109', '3.6499999837', '0.0025347222109', '3.6499999837'),
 ('female', '2010', 'Chesapeake Bay Retriever', 60, 1, 0, datetime.datetime(2013, 2, 6, 2, 7), datetime.datetime(2014, 5, 30, 15, 52, 57), 'charmer', None, 'Pure Breed', 'Sporting', 'fd27cf28-7144-11e5-ba71-058fbc01cf0b', 'ce13750c-7144-11e5-ba71-058fbc01cf0b', '20', '2.5814138645', '3717.2359649', '0.0039351851428', '5.6666666056', '49.046863426', '70627.483333'),
 ('male', '2006', 'Border Collie', 40, 1, 0, datetime.datetime(2013, 2, 6, 2, 41, 40), datetime.datetime(2013, 7, 25, 19, 41, 50), None, None, 'Pure Breed', 'Herding', 'fd27cfaa-7144-11e5-ba71-058fbc01cf0b', 'ce1375b6-7144-11e5-ba71-058fbc01cf0b', '7', '2.3368094136', '3365.0055555', '0.0030902777213', '4.4499999186', '14.020856481', '20190.033333'),
 ('male', '2013', 'Belgian Malinois', 20, 0, 0, datetime.datetime(2013, 2, 6, 3, 38, 50), datetime.datetime(2013, 7, 25, 19, 41, 50), 'stargazer', None, 'Pure Breed', 'Herding', 'fd27d02c-7144-11e5-ba71-058fbc01cf0b', 'ce1377b4-7144-11e5-ba71-058fbc01cf0b', '20', '0.16294286062', '234.6377193', '0.0030555555103', '4.3999999349', '3.0959143519', '4458.1166667'),
 ('female', '2009', 'Australian Shepherd-German Shepherd Dog Mix', 90, 1, 0, datetime.datetime(2013, 2, 6, 3, 44, 33), datetime.datetime(2014, 5, 30, 15, 52, 57), 'renaissance-dog', None, 'Cross Breed', None, 'fd27d0b8-7144-11e5-ba71-058fbc01cf0b', 'ce137700-7144-11e5-ba71-058fbc01cf0b', '21', '15.832899306', '22799.375', '0.0038599537235', '5.5583333618', '316.65798611', '455987.5'),
 ('male', '2004', 'Poodle', 50, 1, 1, datetime.datetime(2013, 2, 6, 4, 57, 15), datetime.datetime(2014, 9, 20, 17, 29, 57), None, None, 'Pure Breed', 'Non-Sporting', 'fd27d144-7144-11e5-ba71-058fbc01cf0b', 'ce137868-7144-11e5-ba71-058fbc01cf0b', '7', '24.510177469', '35294.655556', '0.0037094907591', '5.3416666931', '147.06106481', '211767.93333'),
 ('male', '2005', 'Poodle', 40, 1, 1, datetime.datetime(2013, 2, 6, 5, 7, 35), datetime.datetime(2014, 9, 20, 17, 39, 43), None, 1, 'Pure Breed', 'Non-Sporting', 'fd27d1c6-7144-11e5-ba71-058fbc01cf0b', 'ce137868-7144-11e5-ba71-058fbc01cf0b', '7', '24.467465278', '35233.15', '0.0016782407761', '2.4166667175', '146.80479167', '211398.9'),
 ('male', '2008', 'Golden Doodle', 70, 1, 0, datetime.datetime(2013, 2, 6, 5, 23, 47), datetime.datetime(2013, 7, 25, 19, 41, 50), None, None, 'Popular Hybrid', None, 'fd27d248-7144-11e5-ba71-058fbc01cf0b', 'ce137912-7144-11e5-ba71-058fbc01cf0b', '6', '0.0028356481578', '4.0833333472', '0.0026273147668', '3.7833332642', '0.014178240789', '20.416666736'),
 ('female', '2011', 'Labrador Retriever', 80, 1, 0, datetime.datetime(2013, 2, 6, 5, 33, 17), datetime.datetime(2013, 7, 25, 19, 41, 50), None, None, 'Pure Breed', 'Sporting', 'fd27d2ca-7144-11e5-ba71-058fbc01cf0b', 'ce1379c6-7144-11e5-ba71-058fbc01cf0b', '4', '0.0031404321006', '4.5222222249', '0.0024421296551', '3.5166667033', '0.0094212963019', '13.566666675'),
 ('female', '2012', 'German Shepherd Dog', 20, 1, 0, datetime.datetime(2013, 2, 6, 6, 8, 8), datetime.datetime(2013, 7, 25, 19, 41, 50), None, None, 'Pure Breed', 'Herding', 'fd27d34c-7144-11e5-ba71-058fbc01cf0b', 'ce137a7a-7144-11e5-ba71-058fbc01cf0b', '4', '0.0036226851701', '5.216666645', '0.0032407407407', '4.6666666667', '0.01086805551', '15.649999935'),
 ('male', '2012', 'German Shepherd Dog', 30, 1, 0, datetime.datetime(2013, 2, 6, 6, 9, 1), datetime.datetime(2013, 7, 25, 19, 41, 50), None, None, 'Pure Breed', 'Herding', 'fd27d3d8-7144-11e5-ba71-058fbc01cf0b', 'ce137a7a-7144-11e5-ba71-058fbc01cf0b', '4', '0.0013155864235', '1.8944444499', '0.0010185184648', '1.4666665894', '0.0039467592706', '5.6833333496'),
 ('female', '2011', 'Weimaraner', 80, 1, 0, datetime.datetime(2013, 2, 6, 6, 19, 11), datetime.datetime(2013, 7, 25, 19, 41, 50), 'stargazer', None, 'Pure Breed', 'Sporting', 'fd27d45a-7144-11e5-ba71-058fbc01cf0b', 'ce137034-7144-11e5-ba71-058fbc01cf0b', '28', '5.923648834', '8530.054321', '0.002453703667', '3.5333332804', '159.93851852', '230311.46667'),
 ('female', '2011', 'Mixed', 30, 1, 0, datetime.datetime(2013, 2, 6, 6, 19, 52), datetime.datetime(2013, 7, 25, 19, 41, 50), 'maverick', None, "Mixed Breed/ Other/ I Don't Know", None, 'fd27d4dc-7144-11e5-ba71-058fbc01cf0b', 'ce137034-7144-11e5-ba71-058fbc01cf0b', '28', '5.9239819102', '8530.5339506', '0.0030324074922', '4.3666667887', '159.94751157', '230324.41667'),
 ('female', '2011', 'Bouvier des Flandres', 60, 1, 0, datetime.datetime(2013, 2, 6, 14, 17, 52), datetime.datetime(2014, 5, 30, 15, 52, 58), 'socialite', 1, 'Pure Breed', 'Herding', 'fd27d770-7144-11e5-ba71-058fbc01cf0b', 'ce137c78-7144-11e5-ba71-058fbc01cf0b', '25', '3.8906365741', '5602.5166667', '0.0026678240388', '3.8416666158', '93.375277778', '134460.4'),
 ('female', '2006', 'Mixed', 90, 1, 1, datetime.datetime(2013, 2, 6, 15, 27, 55), datetime.datetime(2014, 9, 24, 21, 22, 32), 'einstein', 1, "Mixed Breed/ Other/ I Don't Know", None, 'fd27d9fa-7144-11e5-ba71-058fbc01cf0b', 'ce135bd0-7144-11e5-ba71-058fbc01cf0b', '20', '0.013653752437', '19.661403509', '0.00068287039015', '0.98333336182', '0.2594212963', '373.56666667'),
 ('male', '2011', 'German Shepherd Dog', 80, 1, 0, datetime.datetime(2013, 2, 6, 16, 56, 53), datetime.datetime(2013, 7, 25, 19, 41, 50), None, None, 'Pure Breed', 'Herding', 'fd27db08-7144-11e5-ba71-058fbc01cf0b', 'ce13807e-7144-11e5-ba71-058fbc01cf0b', '14', '0.14683849715', '211.44743589', '0.0052199073848', '7.5166666341', '1.9089004629', '2748.8166666'),
 ('female', '2008', 'Beagle', 10, 1, 0, datetime.datetime(2013, 2, 6, 17, 37, 5), datetime.datetime(2013, 7, 25, 19, 41, 50), None, None, 'Pure Breed', 'Hound', 'fd27db8a-7144-11e5-ba71-058fbc01cf0b', 'ce1381c8-7144-11e5-ba71-058fbc01cf0b', '16', '0.12515200617', '180.21888889', '0.0034606481199', '4.9833332926', '1.8772800926', '2703.2833333'),
 ('male', '2009', 'Mudi', 20, 1, 1, datetime.datetime(2013, 2, 6, 17, 38, 59), datetime.datetime(2013, 7, 25, 19, 41, 50), None, None, 'Pure Breed', None, 'fd27dc52-7144-11e5-ba71-058fbc01cf0b', 'ce138268-7144-11e5-ba71-058fbc01cf0b', '2', '0.001458333339', '2.1000000081', '0.001458333339', '2.1000000081', '0.001458333339', '2.1000000081'),
 ('male', '2008', 'Parson Russell Terrier-Beagle Mix', 30, 1, 0, datetime.datetime(2013, 2, 6, 17, 52, 26), datetime.datetime(2013, 7, 25, 19, 41, 50), None, None, 'Cross Breed', None, 'fd27dd38-7144-11e5-ba71-058fbc01cf0b', 'ce138312-7144-11e5-ba71-058fbc01cf0b', '4', '0.0020640432297', '2.9722222507', '0.002141203732', '3.083333374', '0.006192129689', '8.9166667521'),
 ('male', '2013', 'Dalmatian', 20, 0, 0, datetime.datetime(2013, 2, 6, 18, 25, 57), datetime.datetime(2013, 7, 25, 19, 41, 50), None, None, 'Pure Breed', 'Non-Sporting', 'fd27e026-7144-11e5-ba71-058fbc01cf0b', 'ce135194-7144-11e5-ba71-058fbc01cf0b', '6', '0.0053773147984', '7.7433333097', '0.0029050925502', '4.1833332723', '0.026886573992', '38.716666549'),
 ('male', '2004', "I Don't Know", 50, 1, 0, datetime.datetime(2013, 2, 6, 18, 27, 7), datetime.datetime(2014, 5, 30, 15, 52, 59), None, None, "Mixed Breed/ Other/ I Don't Know", None, 'fd27e0d0-7144-11e5-ba71-058fbc01cf0b', 'ce135194-7144-11e5-ba71-058fbc01cf0b', '6', '0.0038148148222', '5.4933333439', '0.0020486110602', '2.9499999268', '0.019074074111', '27.46666672'),
 ('female', '2000', 'Border Collie-Labrador Retriever Mix', 40, 0, 0, datetime.datetime(2013, 2, 6, 18, 35, 46), datetime.datetime(2014, 8, 17, 12, 48, 35), 'charmer', None, 'Cross Breed', 'Herding', 'fd27e1e8-7144-11e5-ba71-058fbc01cf0b', 'ce13851a-7144-11e5-ba71-058fbc01cf0b', '20', '0.57272721735', '824.72719299', '0.0036226852106', '5.2166667033', '10.88181713', '15669.816667'),
 ('female', '2008', 'Belgian Tervuren', 20, 0, 0, datetime.datetime(2013, 2, 6, 18, 37, 25), datetime.datetime(2014, 5, 30, 15, 52, 59), 'socialite', None, 'Pure Breed', 'Herding', 'fd27e31e-7144-11e5-ba71-058fbc01cf0b', 'ce13851a-7144-11e5-ba71-058fbc01cf0b', '23', '2.1793208123', '3138.2219697', '0.0027372685736', '3.941666746', '47.94505787', '69040.883333'),
 ('female', '2012', 'Mixed', 70, 1, 1, datetime.datetime(2013, 2, 6, 18, 50, 46), datetime.datetime(2013, 9, 11, 5, 35, 47), 'maverick', None, "Mixed Breed/ Other/ I Don't Know", None, 'fd27e454-7144-11e5-ba71-058fbc01cf0b', 'ce1385c4-7144-11e5-ba71-058fbc01cf0b', '45', '21.830919087', '31436.523485', '0.0048784722477', '7.0250000366', '960.56043981', '1383207.0333'),
 ('male', '2005', 'Labrador Retriever', 70, 1, 0, datetime.datetime(2013, 2, 6, 18, 51, 40), datetime.datetime(2013, 9, 11, 5, 41, 36), 'stargazer', None, 'Pure Breed', 'Sporting', 'fd27e580-7144-11e5-ba71-058fbc01cf0b', 'ce1385c4-7144-11e5-ba71-058fbc01cf0b', '33', '11.625639468', '16740.920833', '0.0039062500608', '5.6250000875', '372.02046296', '535709.46667'),
 ('male', '2012', 'Shih Tzu', 190, 0, 1, datetime.datetime(2013, 2, 6, 19, 29, 18), datetime.datetime(2014, 5, 30, 15, 53), 'protodog', 1, 'Pure Breed', 'Toy', 'fd27e9a4-7144-11e5-ba71-058fbc01cf0b', 'ce135e14-7144-11e5-ba71-058fbc01cf0b', '22', '5.5305561067', '7964.0007937', '0.00038194446988', '0.55000003662', '116.14167824', '167244.01667'),
 ('female', '2011', 'Australian Terrier', 10, 0, 0, datetime.datetime(2013, 2, 6, 19, 54, 36), datetime.datetime(2013, 7, 25, 19, 41, 50), None, None, 'Pure Breed', 'Terrier', 'fd27eae4-7144-11e5-ba71-058fbc01cf0b', 'ce138722-7144-11e5-ba71-058fbc01cf0b', '4', '0.0046334876684', '6.6722222426', '0.0039699074131', '5.7166666748', '0.013900463005', '20.016666728'),
 ('female', '2012', 'Shih Tzu', 190, 0, 0, datetime.datetime(2013, 2, 6, 20, 7, 25), datetime.datetime(2014, 5, 30, 15, 53), 'maverick', 1, 'Pure Breed', 'Toy', 'fd27ed46-7144-11e5-ba71-058fbc01cf0b', 'ce135e14-7144-11e5-ba71-058fbc01cf0b', '25', '4.3253255208', '6228.46875', '0.00066550925926', '0.95833333333', '103.8078125', '149483.25'),
 ('female', '2009', 'Golden Retriever', 80, 1, 0, datetime.datetime(2013, 2, 6, 22, 22, 22), datetime.datetime(2014, 5, 30, 15, 53), 'einstein', None, 'Pure Breed', 'Sporting', 'fd27efb2-7144-11e5-ba71-058fbc01cf0b', 'ce1389d4-7144-11e5-ba71-058fbc01cf0b', '20', '0.052675438598', '75.85263158', '0.0034490739921', '4.9666665487', '1.0008333334', '1441.2'),
 ('male', '2010', 'Bernese Mountain Dog', 100, 1, 0, datetime.datetime(2013, 2, 7, 0, 9, 37), datetime.datetime(2013, 7, 25, 19, 41, 51), None, None, 'Pure Breed', 'Working', 'fd27f110-7144-11e5-ba71-058fbc01cf0b', 'ce1387cc-7144-11e5-ba71-058fbc01cf0b', '7', '78.776888503', '113438.71944', '0.002563657471', '3.6916667582', '472.66133102', '680632.31667'),
 ('male', '2009', 'Chihuahua- Mix', 0, 1, 0, datetime.datetime(2013, 2, 7, 0, 57, 3), datetime.datetime(2013, 7, 25, 19, 41, 51), None, None, 'Cross Breed', None, 'fd27f25a-7144-11e5-ba71-058fbc01cf0b', 'ce138a88-7144-11e5-ba71-058fbc01cf0b', '6', '0.59595601852', '858.17666667', '0.0021643518716', '3.1166666951', '2.9797800926', '4290.8833333'),
 ('male', '2008', 'Shetland Sheepdog', 10, 1, 0, datetime.datetime(2013, 2, 7, 2, 1, 6), datetime.datetime(2013, 7, 25, 19, 41, 51), None, None, 'Pure Breed', 'Herding', 'fd27f4c6-7144-11e5-ba71-058fbc01cf0b', 'ce138f92-7144-11e5-ba71-058fbc01cf0b', '4', '0.0051620370559', '7.4333333605', '0.0045254629799', '6.5166666911', '0.015486111168', '22.300000081')]